{% extends "ticket/base.html" %}
{% block head %}
<style>
    .info{
        background-color: #c5c5c5;
    }
</style>
{% endblock %}

{% block title %}
Ticket {{ticket.id}}
{% endblock %}
{% block body %}
<h2>Detail</h2>

<div class="container-fluid">
    <div class="border p-3">

        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Title:</strong>
                    {{ ticket.t_title }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Published date:</strong>
                    {{ ticket.pub_date }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Status:</strong>
                    {% if ticket.t_status %}
                    ✓
                    {% else %}
                    ✕
                    {% endif %}
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="status">
                        {% if ticket.t_status %}
                        <button type="submit" class="btn btn-danger">未完成</button>
                        {% else %}
                        <button type="submit" class="btn btn-success">完成</button>
                        {% endif %}
                    </form>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Warranty:</strong>
                    {{ ticket.t_warranty }}
                </p>
            </div>
        </div>

    </div>
</div>

<br>

<div class="container-fluid">
    <p class="border p-3 info">
        <strong>Content:</strong>
        <br>
        {{ ticket.t_content }}
    </p>
</div>

<div class="container-fluid">
    <div class="border p-3">
        <div class = "row">
            <div class="col-md-6">
            {% if comments %}
                {% for comment in comments %}
                    {{comment.pub_date}}
                    <br>
                    {{comment.content}}
                    <hr>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="comment">
                <input type="text" id="comment" name="comment" class="form-control">
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
            </div>
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="image">
                    <input type="file" name="image" accept="image/*">
                    <button type="submit">Upload</button>
                </form>
                <hr>
                {% if images %}
                    {% for image in images %}
                        <p>
                        <img src="{{ image.image.url }}" alt="Ticket image" width="500">
                        <br>
                        {{image.pub_date}}
                        </p>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}  