{% extends "ticket/base.html" %}
{% block head %}
<style>
    .info{
        background-color: #c5c5c5;
    }
</style>
{% endblock %}

{% block title %}
Ticket {{ticket.id}}
{% endblock %}
{% block body %}
<h2>Detail</h2>

<div class="container-fluid">
    <div class="border p-3">

        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Title:</strong>
                    {{ ticket.t_title }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Published date:</strong>
                    {{ ticket.pub_date }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Status:</strong>
                    {{ ticket.t_status }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Warranty:</strong>
                    {{ ticket.t_warranty }}
                </p>
            </div>
        </div>

    </div>
</div>

<br>

<div class="container-fluid">
    <p class="border p-3 info">
        <strong>Content:</strong>
        <br>
        {{ ticket.t_content }}
    </p>
</div>

{% endblock %}