{% extends "ticket/base.html" %}
{% block title %}
登入
{% endblock %}
{% block body %}
<h2 class="title">登入</h2>

<form method="POST">
    {% csrf_token %}
    <label class="form-label">Username:</label><br>
    <input type="text" id="username" name="username" class="form-control"><br>
    <label class="form-label">Password:</label><br>
    <input type="password" id="password" name="password" class="form-control"><br><br>
    <input type="submit" value="Login" class="btn btn-primary">
</form>
{% endblock %}
